:host {
  .input-mask {
    ::ng-deep {
      .p-inputtext {
        width: 100%;
      }
    }
  }

  .autocomplete {
    ::ng-deep {
      .p-inputtext {
        width: 100%;
      }
    }
  }

  ::ng-deep {
    .p-datepicker {
      width: 100%;
    }
  }
}
